---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="masthead" style="background-image: url('{{ site.default-background | prepend: site.baseurl | replace: '//', '/' }}')">
{% endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ site.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div style="position: relative; display:inline-block">
          <img src="{{ page.picture-loc | prepend: site.baseurl | replace: '//', '/' }}" width="30%" alt="Image" style="float: left; margin: 30px 12px 5px 12px;">
          {{ content }}
        </div>
        <div style="margin: 0px 20px 0px 10px">
        <hr />
        <h1 class="post-title">Recent Projects</h1>
        <hr />

        <!-- Home Post List -->
        {% for post in site.posts limit : 4 %}
        
        <article class="post-preview">
          
          {% if post.project-img %}
          <div class="home-grid-container">
            <div class="Title">
              <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                <h2 class="post-title">{{ post.title }}</h2>
              </a>
            </div>
            <div class="Picture">
              <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">    
                <center>
                <img src="{{ post.project-img | prepend: site.baseurl | replace: '//', '/' }}" style="display: block; margin-left: auto; margin-right: auto; width: 100%;">
              </center>      
              </a> 
            </div>
            <div class="Text">
              {% if post.subtitle %}
                <p style="margin-top: 15px;margin-bottom: 10px;"><em>{{ post.subtitle }}</em></p>
              {% else %}
                <p style="margin-top: 15px;margin-bottom: 10px;"><em>{{ post.excerpt | strip_html | truncatewords: 15 }}</em></p>
              {% endif %}
            </div>
          </div>
          {% else %}
          <div>
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
            </a>
          </div>
          <div>
            {% if post.subtitle %}
              <p style="margin-top: 15px;margin-bottom: 10px;"><em>{{ post.subtitle }}</em></p>
            {% else %}
              <p style="margin-top: 15px;margin-bottom: 10px;"><em>{{ post.excerpt | strip_html | truncatewords: 15 }}</em></p>
            {% endif %}
          </div>
          {% endif %}
          
          
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}            
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/projects" | relative_url }}">View All Projects &rarr;</a>
        </div>
      </div>

      </div>
    </div>
  </div>
