---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    <h1>{{ page.title }}</h1>
    <i>{{ page.date | date: "%b %d, %Y" }}</i>
    <h4 class="subtitle">{{ page.subtitle }}</h4>
    {% if page.image %}
    <img src="{{ page.image }}" alt="Post image" />
    {% endif %}
    {{ page.content }}

    -------
    <!-- <br />
    <img
        src="https://hitscounter.dev/api/hit?url={{ site.url }}{{ page.url }}&label=&icon=person-fill&color=%23198754&message=&style=flat&tz=UTC"> -->


</main>

{% include footer-post.html %}

</body>

</html>