---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    <h1>{{ page.title }}</h1>
    <i>{{ page.date | date: "%b %d, %Y" }}</i>
    <h4 class="subtitle">{{ page.subtitle }}</h4>
    {% if page.image %}
    <img src="{{ page.image }}" alt="Post image" />
    {% endif %}
    {{ page.content }}

    <div class="post-navigation"
        style="display: flex; justify-content: space-between; align-items: center; margin-top: 2rem;">

        <div class="prev-link">
            {% if page.previous.url %}
            <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                data-placement="top" title="{{ page.previous.title }}">
                &larr; Previous <span class="d-none d-md-inline">Post</span>
            </a>
            {% endif %}
        </div>

        <div class="next-link">
            {% if page.next.url %}
            <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
                data-placement="top" title="{{ page.next.title }}">
                Next <span class="d-none d-md-inline">Post</span> &rarr;
            </a>
            {% endif %}
        </div>

    </div>
</main>

{% include footer-post.html %}

</body>

</html>